In [7]:
import pandas as pd
import selenium
from selenium import webdriver
import requests
from bs4 import BeautifulSoup

In [8]:
# 1. https://www1.nseindia.com/

# 2. https://finance.yahoo.com/

# 3. https://in.investing.com/
# website used ^

In [9]:
driver=webdriver.Chrome()

In [13]:
enddate='20/02/2023'
stdate='11/08/2022'
url="https://in.investing.com/indices/s-p-cnx-nifty-historical-data?end_date={}&st_date={}".format(enddate,stdate)

In [14]:
driver.get(url)

In [16]:
content=driver.page_source
soup=BeautifulSoup(content)

In [17]:
date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)

In [30]:
#Loading Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Loading Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#Loading High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Loading Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)

In [34]:
nifty50=pd.DataFrame({'Date':date,'Opne':open,'Close':close,'Low':low,'High':high})
# print(len(low))

In [49]:
def load(dataframe):
    dataframe.to_csv("Final_Nifty50.csv")

In [38]:
load(nifty50)

In [46]:
df=pd.read_csv('Final_Nifty.csv')
df['Unnamed: 0'].drop

<bound method Series.drop of 0      0
1      1
2      2
3      3
4      4
      ..
60    60
61    61
62    62
63    63
64    64
Name: Unnamed: 0, Length: 65, dtype: int64>

In [47]:
del df['Unnamed: 0']

In [50]:
load(df)